:root{
    --main-color-1: #8E6768;
    --main-color-2: #F2D6BE;
    --main-color-3: #615A70;
    --main-color-4: #7986A1;
    --main-color-5: #313F7B;
}


.main-theme {
    margin: 0;
    background: var(--main-color-2);
    color: #FFFFFF;
}

/* Main manu
*/
.main-menu{
    margin: 0;
    padding: 50px 20px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
}
.main-menu li {
    display: inline-block;
    width: auto;
    padding-right: 20px;
}
.main-menu li a{
    text-decoration: none;
    color: #4b4f4c;
}


.main-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




/*  For photo
*/
.main-photo-block {
    position: relative;
    border: 7px groove #4b4f4c;
    min-height: 500px;
    min-width: 300px;
    max-width: 1100px;
    color: black;
}
.main-rozvrh-block {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 7px groove #4b4f4c;
    min-height: 500px;
    min-width: 300px;
    max-width: 1050px;
    color: black;
}

.main-photo-block > img {
    float: left;
    margin: 10px;
}

.main-photo-block > p {
    line-height: 3;
}

.main-photo-block > article{
    display: inline-block;
    right: 10px;
    bottom: 10px;
    float: right;
}

/*  Zoznam
*/
.zoznam-section > h2{
    font-size: 36px;
}

.zoznam {
    list-style-image: none;
    list-style-type: disc;
    min-height: 500px;
    min-width: 300px;
    max-width: 1000px;
    color: black;
    font-size: 30px;
}

/*  Rozvrh
*/
.table-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: black;
}
.table-row > div{
    width: 10%;
}
.div-20{
    width: 20%;
}
.div-0{
    width: 0%;
}
/*body {
  padding: 2em;
}

table.table { width: 100%; }

.table th, .table td { 
  text-align: left; 
  padding: 0.25em;
}

.table tr { 
  border-bottom: 1px solid #DDD;
}
td.edit-buttons { text-align: right; }
button { 
  border-radius: 3px; 
  border: none; 
  margin: 0 0.25em; 
  transition: all 0.3s;
}

button:hover { 
  box-shadow: 0 0 4px rgba(3,3,3,0.8); 
  opacity: 0.9;
}

button.edit { background: #6F9; }
button.delete { background: #F69; }

@media screen and (max-width: 800px) {
  tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }
  td, th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3,3,3,0.2);
  }
  td.edit-buttons, td.empty {
    /*flex: 1 0 90%;
    text-align: center;
  }
}

 { box-model: border-box; font-family: 'futura'; }
*/



/*  Helpers
*/
.text-style-italic {
    font-style: italic;
}

.text-style-bold {
    font-weight: bold;
}

.text-black{
    color: #5d5d5d;
}

.cantered-horizontal {
    display: flex;
    justify-content: center;
}

.bg-blue {
    background-color: var(--main-color-5);
}

.bg-gray {
    background-color: var(--main-color-4);
}

/*lalala*/