.resumeBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1000px;
}

.leftBlockResume {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
}

.rightBlockResume {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 50px;
}

.roundImage{
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 500px;
}

.resume-photo{
    width: 300px;
    height: 500px;
}

.contact-info-block{
    padding-left: 30px;
}
